body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f9e6; /* Light green background color */
}

header {
    background-color: #4caf50; /* Darker green header background color */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
} 

.movieCard {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #ecf5e1; /* Light green card background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.movieCard:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.movieCard img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Add a slight border radius to the images */
}


#movieDetailsPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Darker background for better visibility */
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

.popupContent {
    background: #fff;
    padding: 20px;
    max-width: 600px;
    text-align: left;
    opacity: 0; /* Initially invisible for fade-in effect */
    animation: fadeIn 0.5s forwards;
    max-height: 70vh; /* Set a maximum height for the popup content */
    overflow-y: auto; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #4caf50; /* Darker green close button background color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

#closePopup:hover {
    background-color: #45a049; /* Darker green on hover */
}

#movieDetails {
    display: flex;
    align-items: center;
}

#popupMovieImage {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

#movieInfo {
    flex-grow: 1;
}

#similarMovies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#similarMovies li {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #ecf5e1; /* Light green card background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#similarMovies li:hover {
    transform: scale(1.05); /* Scale up on hover */
}

#similarMovies li img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Add a slight border radius to the images */
}
